node_modules
.DS_Store
client/dist/bundle.js
coverage
server/cassandraDB/imagesData.csv
server/cassandraDB/helpfulData.csv
server/postgresDB/imagesData.csv
server/postgresDB/usersData.csv
server/postgresDB/helpfulData.csv